<h1>Create a new Reward</h1>

<div>
<form action="/rewards/create" method="POST">
  <label>Name:<input autofocus name="name" type="text" value=""/></label>
  <label>Value:<input name="value" type="text" value="0"/></label>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

</div>